
<!-- <link rel="stylesheet" href="/assets/bootstrap.min.css">
<link rel="stylesheet" href="/assets/style.css"> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
    <div class="container"><a href="/" class="navbar-brand"><img src="favicon.ico" width="80px">StreamAR</a>
    </div>
</nav>
<div class="container-fluid gtco-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1>Server <span>Shutdown!!</span></h1>
                <p>Server is shut's down for an unplanned reason. Please contact admin.</p>
                <a href="mailto:t17t104@outlook.com" target="_blank">Contact <i class="fa fa-angle-right" aria-hidden="true"> </i> </a>
                <a href="/" >Refresh page <i class="fa fa-angle-right" aria-hidden="true"> </i> </a>
             </div>

            <div class="col-md-7">
                <div class="card">
                    <img class="card-img-top img-fluid" src="/assets/images/server7.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
